<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBtFus2F_yQzv-NWFFSuFqhC8k1modsRdA</string>
	<key>GCM_SENDER_ID</key>
	<string>874482126027</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.crudtutorial</string>
	<key>PROJECT_ID</key>
	<string>crudtutorial-8a83e</string>
	<key>STORAGE_BUCKET</key>
	<string>crudtutorial-8a83e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:874482126027:ios:a8a532a1f2bc4697fddf4e</string>
</dict>
</plist>